
@import "ember-cli-bootstrap-4/bootstrap";


.add{
    margin: 15% 25% 10% -5%; 
    display: block;
}

.find{
    margin: 0% 30% 10% 2%; 
}

button{
    margin:2%;
}

.show{
    margin: 2% 30% 10% 2%; 
   

}

.container{
    margin:5% 20%;

}

.profile{
    margin:5% 10% 0 -10%;
}

hr{
    margin:5% 10% 0 -10%;


}

.jumbotron,{
    margin:5% 10% 0 -20%;

}