{{!-- The following component displays Ember's default welcome message. --}}




<ul class="nav nav-tabs bg-dark ">
  <li class="nav-item">
    <LinkTo @route="index" class="nav-link">FIRE BASE MAIN PAGE</LinkTo>
  </li>
  <li class="nav-item">
    <LinkTo @route="route1" class="nav-link">contact</LinkTo>
  </li>
    <li class="nav-item">
    <LinkTo @route="list" class="nav-link">List</LinkTo>
  </li>

 </ul>

<div class="container">

 {{outlet}}


</div>

