

<div class="jumbotron">
  <h1 class="display-3">CONTACT APP :)</h1>
  <p class="lead">This is a simple Conatact application that make your life simpler by saving your important contact and information</p>
  {{!-- <hr class="my-2"> --}}
  <p>It uses ember framework and firebase to create and manage the application</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/route1" role="button" >CREATE CONTACT</a>
  </p>
</div>


{{outlet}}

